@media only screen and (min-width: 641px) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 48px 1fr auto;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .header img {
        grid-column: 1 / 2;
        justify-self: start;
    }

    .header-content {
        grid-column: 2 / 3;
        justify-self: center;
        text-align: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        grid-column: 3 / 4;
        justify-self: end;
        display: block !important;
        background: none;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .navigation a {
        border: none;
    }
    
    .hero {
        max-width: 900px;
        margin: 0 auto;
    }

    footer {
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
    }

    .author {
        margin-top: 0;
    }

    .modal-content {
        padding: 2rem;
        max-height: 80vh;
    }

    .spotlight-wrapper {
        grid-template-columns: 1fr;
    }

    .spotlight {
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 2rem;
        align-items: start;
        border-radius: 16px;
    }

    #birth-map {
        border-radius: 16px;
    }

    .question-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        max-width: 1200px;
        margin: 3rem auto;
        padding: 1rem;
    }

    .form-column {
        width: 100%;
    }
}