@media only screen and (min-width: 641px) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 48px 1fr auto;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .header img {
        grid-column: 1 / 2;
        justify-self: start;
    }

    .header-content {
        grid-column: 2 / 3;
        justify-self: center;
        text-align: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        grid-column: 3 / 4;
        justify-self: end;
        display: block !important;
        background: none;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .navigation a {
        border: none;
    }

    .sub-nav-menu {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .sub-nav-menu a {
        border-bottom: none;
    }

    #filter-ham-btn {
        display: none;
    }

    footer {
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
    }

    .author {
        margin-top: 0;
    }

    .modal-content {
        padding: 2rem;
        max-height: 80vh;
    }
}