@media only screen and (min-width: 1025px) {
    header, main, nav, footer {
        max-width: 1300px;
        margin: 0 auto;
    }

    .interest-area {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "card1 card2 card3 card4"
            "card5 card6 card7 card8";
    }
}