/******************************Color Scheme*********************************
Primary: #2A6041 (forest)

Accent: #fde5a8 (light amber)

Secondary: #D0E2D0 (herb light)

Neutral: #FAFAF5 (off white)
*/

/********************************Site wide**********************************/
* {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #2A6041;
    --accent-color: #fde5a8;
    --secondary-color: #D0E2D0;
    --neutral-color: #FAFAF5;
    --dark-text: #173625;
}

body {
    background-color: var(--neutral-color);
}

/*********************************Header***********************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    grid-template-rows: auto auto;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px var(--secondary-color);
    column-gap: 8px;
    background-color: var(--neutral-color);
}

.header-content {
    color: var(--primary-color);
    font-size: .9rem;
}

.header img {
    display: block;
    width: 24px;
    height: 24px;
    padding-bottom: 2px;
}

/**************************Hamburger*****************************/
.hamburger {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger svg {
    width: 28px;
    height: 28px;
    display: none;
}


.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
}

/**************************Navigation*****************************/

.navigation {
    display: none;
    transition: opacity 0.3s ease;
}

.navigation.show {
    display: block; 
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .82rem 10px;
    color: var(--dark-text);
    text-decoration: none;
    border-bottom: solid 1px var(--secondary-color);
}

.navigation li.current {
    background-color: var(--neutral-color);
}

.navigation a:hover, .navigation a:focus {
    background-color: var(--secondary-color);
    outline: 3px solid var(--primary-color);
    outline-offset: 2px;
}

.navigation a.current {
    font-weight: bold;
    text-decoration: underline
}

/**************************Hero image*****************************/
.hero {
    position: relative;
}

.hero picture,
.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.keynote-btn {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-40%, -80%);
    padding: 10px 20px;
    background: var(--accent-color);
    color: var(--dark-text);
    border: none;
    border-radius: 6px;
}

/**************************Footer*****************************/
footer {
    display: block;
    background-color: var(--neutral-color);
    padding: 1rem 10px;
}

.contact, .author {
    display: block;
    font-size: smaller;
}

.contact h3 {
    margin-bottom: 0;
}

.contact {
    margin-bottom: 15.6px;
}

.author {
    margin-top: 15.6px;
    padding-top: 0;
}
p {
    margin: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--secondary-color);
    border: solid 1px var(--primary-color);
    border-radius: 5px;
}

.social a:hover {
    background-color: var(--secondary-color);
}

.social img {
    width: 22px;
    height: 22px;
}

/**************************Main*****************************/
main {
    min-height: 60vh;
}

h2 {
    display: block;
    margin: 10px;
    padding: 5px 0 5px 10px;
    text-align: center;
    font-size: 1.7rem;
    color: var(--primary-color);
    background-color: var(--neutral-color);
}
/**************************Home page information*****************************/

#info {
    display: block;
    gap: 10px;
    margin-top: 10px;
}

.events h3, .weather h3, .forcast h3 {
    display: block;
    margin: 0;
    padding: 5px 0 5px 0px;
    text-align: center;
    font-size: 1rem;
    color: var(--dark-text);
    background-color: var(--secondary-color);
    columns: var(--dark-text);
    border-bottom: solid 1px var(--primary-color);
}

.events, .weather, .forcast {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border: solid 1px var(--primary-color);
}

.events p, .weather p, .forcast p {
    margin: 10px;
    color: var(--primary-color);
}
/**************************Spotlight Cards*****************************/

#featured-cards {
    display: block;
    gap: 10px;
    background-color: var(--secondary-color);
}

.spotlight-card {
    margin-bottom: 10px;
}

.spotlight-card h4 {
    display: show;
}

/**************************Directory Cards*****************************/

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    background-color: var(--secondary-color);
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--neutral-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 8px var(--primary-color);
    list-style: none;
}

.card h4 {
    font-size: small;
}

.card p, .card a {
    margin: 5px 0;
}

.card a {
    list-style: none;
}

.card img {
    width: 190px;
    height: 100px;
    object-fit: contain;
}

#cards.hidden, #list.hidden {
    display: none;
}

#list {
    width: 100%;
    background-color: var(--neutral-color);
}

.list-view {
    width: 100%;
    border-collapse: collapse;
}

.list-view td, .list-view th {
    border: 1px solid #ccc;
    padding: .5rem;
}

.view-toggle button.active {
    background: #333;
    color: white;
}