@media only screen and (min-width: 38rem) {
header, main, nav, footer {
    max-width: 900px;
    margin: 0 auto;
}
header {
    grid-template-columns: 24px auto;
}
.hamburger {
    display: none;
}

.navigation {
    display: block;
    background-color: #8FB996;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
}

.navigation a {
    border: none;
}

.home {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    background-color: #FAFAF5;
}

section {
    padding: 5px;
}
.courses {
    grid-column: 1/4;
}

.sub-nav-menu {
    display: flex;
    justify-content: space-around;
}

.sub-nav-menu a {
    width: 180px;
}
}